body {
  font-family: Arial, sans-serif;
  margin: auto;
  max-width: 38rem;
  padding: 2rem;
}

.container {
  width: 100%;
  margin: 0 auto;
}

h1 {
  text-align: center;
}


/* Existing CSS */

button#generateButton {
  display: block;
  margin: 0 auto;
  border: black solid 2px;
  border-radius: 1.5em;
  margin-top: 3em;
  margin-bottom: 5em;
  padding: 15px 30px; /* Increase padding for a larger button */
  font-size: 18px; /* Increase font size for a larger button */
}


label {
  margin-top: 10px;
  display: block; /* Ensure each label is on its own line */
}

img {
  display: block; /* Ensure the image behaves as a block element */
  margin: 0 auto; /* Center the image horizontally */
}


input[type="text"],
select {
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  display: block; /* Ensure each input is on its own line */
  width: 100%; /* Make inputs full-width */
}

button {
  padding: 10px 20px;
  margin-top: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 5em;
}

button:hover {
  background-color: #0056b3;
}

#result {
  text-align: center;
  margin-top: 20px;
}



/* CSS for styling the file upload input */
#fileUpload {
  width: 100%;
  height: 100%;
display: none;}

.file-upload-container {
  width: 300px; /* Set width as desired */
  height: 200px; /* Set height as desired */
  border: 2px dashed #ccc; /* Dashed border */
  border-radius: 8px; /* Rounded corners */
  text-align: center; /* Center text vertically and horizontally */
  display: flex; /* Use flexbox for alignment */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  cursor: pointer; /* Change cursor to pointer on hover */
  align-items: center;
  text-align: center;
  justify-items: center;
  margin: 0 auto;
}

.file-upload-container:hover {
  border-color: #aaa; /* Darker border color on hover */
}

.file-upload-label {
  font-size: 18px; /* Set font size as desired */
  color: #777; /* Text color */
  display: flex;
  justify-content: center;
  width: 100%; /* Make label fill the container */
  height: 100%; /* Make label fill the container */
  padding: 50px; /* Add padding for better click area */
  box-sizing: border-box; /* Include padding in width and height */
  
}

/* Optional: Styles for when files are being dragged over */
.file-upload-container.dragover {
  background-color: #f0f0f0; /* Light gray background when dragging over */
}
.file-upload-container:hover {
  border-color: #aaa; /* Darker border color on hover */
}